
.content-inside {
	max-width: 800px;
  /*padding-top: 30px;*/
  margin: 0 auto;
}

#login-buttons a {
	/*color: white;*/
    /*color: #777;*/
    /*color: normal;*/
	position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;

}

@media (min-width: 768px) {
    .navbar-nav #login-buttons a {
      padding-top: 15px;
      padding-bottom: 15px;
    }

}

@media (max-width: 768px) {
    .navbar-nav #login-buttons a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
    }

}

#login-buttons {
  line-height: 20px;
}

#login-buttons a {
  border-left: 1px solid #66BBCC;
  color: rgba(255, 255, 255, 0.8);
}

.list-group .list-group-item-info {
  background-color: #d9edf7;
   /* #d9edf7 */  /* #fcf8e3 */
}
/*.list-group .list-group-item-info span.glyphicon {
  color: white;
}*/



html, body, .meta-content {min-height: 100%;}
.meteor-include {padding: 0 !important;}

/* this is for mobile view */
.navbar-nav {margin: 0;}
.navbar-nav>li {float: left;}
.navbar-default .navbar-nav>.active>a {background-color: #338899 !important; color: white !important;}


/* TODO Looks stupid */
.badges div.sl-badge {color: gold; float: left; margin: 5px; padding:8px; border:2px solid navy; border-radius: 8px; background-color: navy;}
.badges span { font-size: 1.8em;}

/*.space {line-height: 1px;}*/

.padding-0 {padding-left: 0; padding-right: 0;}
.userShortcut img {width: 50px; height: 50px; border:1px solid #ddd; border-radius:5px; margin-right: 5px;}
.userShortcut a {color: #333;}
.userShortcut a:hover {text-decoration: none;}
.post-author img, .msg-author img {width: 50px; height: 50px;}
.new-post .userShortcut {font-size: 24px;}
.new-post .userShortcut img {width: 50px; height: 50px;}
.user-profile .userShortcut img {width: 80px; height: 80px; border-radius: 10px;}
.user-list .userShortcut img {width: 30px; height: 30px;}

.post-author-icon {font-size: 1.5em;}
.comment-author img, .new-comment img, .conversations img {width: 40px; height: 40px;}
.comment-author-icon, .new-comment {font-size: 1.3em;}
.comment-text {margin: 10px 0 7px 0;}
.msg-author a {text-decoration: none; color: #555555;}

/*.new-post {margin: 1px 3px 1px 3px;}*/
.post {margin: 3px 3px 25px 3px; padding: 11px 13px 11px 13px; border-radius: 5px;}
.post-title {margin-top: 10px;}
.post-title a {color: black; font-size: 0.9em;}
.post-title a:hover {text-decoration: none;}
.noti-active {background-color: blue;}
.comment {margin: 3px 0 3px 0; border-top:1px solid #eee; padding: 9px 0 3px 0;}
.new-comment {border-top: 1px solid #eee; padding: 9px 0 0 0; margin: 0 2px 0 2px;}
.post-panel {margin: 0 0 5px 0;}
.post-panel a, .comment-panel a {color: #555555;}
.post-panel a:hover {color:#2fa4e7;}
a.spam:hover {color:red;}
a.no-spam:hover {color: green;}
.liked {color:red;}
/*.post-time, .comment-time {font-size: 0.9em;}*/

.btn {border-radius: 4px;}

.list-group-item a {display: inline-block;}

/*.loading-gif {height: 250px;}*/

/* another hack, in future make own login/registration template */
a.login-close-text, .accounts-dialog .additional-link-container a {
    color: #428bca !important; padding: 0 !important;
}
a.login-close-text:hover, .accounts-dialog .additional-link-container a:hover {
    text-decoration: underline !important;
}


.noti_container {
    position:relative;
    border:1px solid blue;
    width:16px;
    height:16px;
}

.noti_bubble {
    position:absolute;
    /*top: -6px;
    right:-6px;*/
    z-index: 999;
    padding:1px 6px 1px 5px;
    background-color:red;
    color:white;
    font-weight:bold;
    font-size:0.75em;
    
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}

.msg .noti_bubble {
    margin-top:-40px;
}


.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 230px;
  height: 105px;
  text-align: center;
  padding-top: 25px;
  margin-left: 10px;
}

.drop-box.dragover {
  border: 5px dashed blue;
}

.drop-box.dragover-err {
  border: 5px dashed red;
}



/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) {
   /* .navbar {font-size: 1.3em;}*/
}


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
   /* .navbar {font-size: 1.3em;}*/
}


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
  /*  .navbar {font-size: 1.3em;}*/
}


/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
/* .navbar {font-size: 1.3em;}*/
}


/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
/* .navbar {font-size: 1.3em;}*/
}


/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
 /*.navbar {font-size: 1.3em;}*/
}


/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
/*.navbar {font-size: 1.3em;}*/
}

/* Xperia */
@media screen and (-webkit-device-pixel-ratio:3) {
 /*.navbar {font-size: 1.3em;}   */
}


/* Loading animation */
.shape{
    margin: 36px;
    float: left;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    /*border-color: transparent transparent #1EB287 #1EB287;*/
    position: relative;
    transform: rotateZ(180deg);
    transform-origin: 20px;
}

.shape::after{
    content: "";
    position: absolute;
    float: left;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-color: #1EB287 #1EB287 transparent transparent;
    right: -19px;
    bottom: -21px;
    transform: rotate3d(1,1,0,0deg);
}

@keyframes shapeshift {
    0%   { 
        border-color: transparent transparent #1EB287 #1EB287;
        transform: rotateZ(180deg);
        border-radius: 0px;         
    }

    33% { 
        border-color: transparent transparent #158BC5 #158BC5;
        transform:rotateZ(270deg) skewY(-15deg)skewX(-15deg);
        border-radius: 0px;
    }
    
    67% { 
        border-color: transparent transparent #D25E51 #D25E51;
        transform: rotateZ(315deg);
        border-radius: 30px;
    }

    100% { 
        border-color: transparent transparent #1EB287 #1EB287;
        transform: rotateZ(540deg);
        border-radius: 0px;
    }
}

@keyframes shapeshiftafter {
    0%   { 
        border-color: #1EB287 #1EB287 transparent transparent;
        transform: rotate3d(1,1,0,0deg);
        border-radius: 0px;
    }

    33% { 
        border-color: #158BC5 #158BC5 transparent transparent;
        transform: rotate3d(1,1,0,90deg);
        border-radius: 0px;
    }

    67% { 
        border-color: #D25E51 #D25E51 transparent transparent;
        transform: rotate3d(1,1,0,0deg);
        border-radius: 30px;

    }

    100% { 
        border-color: #1EB287 #1EB287 transparent transparent;
        transform: rotate3d(1,1,0,0deg);
        border-radius: 0px;

    }
}

.animate {
    animation: shapeshift 1.5s infinite;
}

.animate::after {
    animation: shapeshiftafter 1.5s infinite;
}